<div class="list-group">
    <button class="list-group-item list-group-item-action disabled" style="color:white;background-color: rgb(36, 36, 37);">Categorias</button>
    <button type="button" class="list-group-item list-group-item-action" (click)="mostrarN()">Noticias</button>
    <button type="button" class="list-group-item list-group-item-action" (click)="mostrarG()">Guías</button>
    <button type="button" class="list-group-item list-group-item-action" (click)="mostrarS()">Sorteos</button>
  </div>